.u-section-1 .u-sheet-1 {
  min-height: 461px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  width: 234px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 25px auto 50px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}