 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-1 .u-image-1 {
  height: 361px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 70.43%;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 0.7;
  margin: -56px 133px 0 26px;
}

.u-section-1 .u-text-2 {
  margin: -17px 133px 0 26px;
}

.u-section-1 .u-text-3 {
  margin: -125px 945px 60px 69px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 814px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 594px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 214px;
  }
}