 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/FZDXZSD3.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
  animation-duration: 1000ms;
  margin: 192px 88px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 177px;
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 253px;
    margin-bottom: 60px;
  }
}

.u-block-df21-11:not([data-block-selected]):not([data-cell-selected]) {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-block-df21-11:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-df21-12:not([data-block-selected]):not([data-cell-selected]) {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-block-df21-12:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/FZDXZSD2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-image-1 {
  height: 579px;
  object-position: 100% 0%;
  filter: brightness(0.7);
  width: 1334px;
  margin: -309px 0 0 -34px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  animation-duration: 1000ms;
  width: 740px;
  background-image: none;
  font-size: 3rem;
  margin: 180px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  animation-duration: 1000ms;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 68px auto 0 289px;
  padding: 12px 44px 14px 43px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  animation-duration: 1000ms;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -58px 319px 60px auto;
  padding: 12px 44px 14px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-image-1 {
    height: 408px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 179px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 55px;
    margin-left: 188px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-2 .u-image-1 {
    height: 313px;
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 104px;
    margin-right: 58px;
    margin-left: 23px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
    margin-left: 222px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-image-1 {
    height: 235px;
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 74px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 46px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-image-1 {
    height: 148px;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 130px;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 700;
    margin-top: 44px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 27px;
  }
}

.u-section-2 .u-btn-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}