 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/FZDXZSD.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 605px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  text-align: center;
  animation-duration: 1000ms;
  margin: 202px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 221px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 54% 51.08%;
    background-size: 200%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 173px;
  }
}

.u-block-df21-11:not([data-block-selected]):not([data-cell-selected]) {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-block-df21-11:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-df21-12:not([data-block-selected]):not([data-cell-selected]) {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-block-df21-12:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  min-height: 569px;
}

.u-section-2 .u-image-1 {
  height: 579px;
  object-position: 100% 0%;
  margin-top: -10px;
  margin-bottom: 0;
  filter: brightness(0.7);
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  width: 741px;
  animation-duration: 1000ms;
  margin: -407px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  animation-duration: 1000ms;
  margin: 38px auto 0 455px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  animation-duration: 1000ms;
  margin: -45px auto 60px 676px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 522px;
  }

  .u-section-2 .u-image-1 {
    object-position: 50% 100%;
    height: 520px;
    margin-top: 1px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -358px;
  }

  .u-section-2 .u-btn-1 {
    align-self: center;
    margin-left: 325px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 219px;
    margin-left: 546px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 580px;
  }

  .u-section-2 .u-image-1 {
    height: 421px;
    margin-top: -160px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -360px;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 61px;
    margin-left: calc(((100% - 720px) / 2) + 147px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2) + 160px);
    margin-bottom: 60px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 154px;
  }

  .u-section-2 .u-image-1 {
    height: 313px;
    margin-top: -159px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 450px;
    margin-top: -280px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 60px;
    margin-left: calc(((100% - 540px) / 2) + 68px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2) + 81px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 378px;
  }

  .u-section-2 .u-image-1 {
    height: 348px;
    width: 760px;
    margin-top: -16px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -189px);
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -295px;
    margin-right: calc(((100% - 340px) / 2) + -13px);
    margin-left: calc(((100% - 340px) / 2) + 13px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2) + 66px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 9px;
    margin-right: calc(((100% - 340px) / 2) + 73px);
  }
}

.u-section-2 .u-btn-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}